input {
  color: #4D4D4D;
  opacity: 40%;
}

input:hover {
  opacity: 100%;
}

.main-title {
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  background-color: #EEEEEE;
  margin-bottom: 64px;
  margin-top: -5px;
  padding-top: 87px;
  padding-left: 357px;
  padding-bottom: 108px;
  width: 1440px;
  background-image: url("../img/podcherivanie.png.png");
  background-repeat: no-repeat;
  background-position: 755px 1px;
  background-size: 83px 2px;
}

fieldset {
  border: 0;
}

.filter-legend {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-legend-price {
  margin-left: 17px;
}

.filter-radiobuttons {
  margin-bottom: 17px;
  margin-left: -40px;
}

.label-radiobutton {
  color: #283136;
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.filter-checkboxes {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  margin-bottom: 17px;
  margin-left: -40px;
}

.filter-range {
  width: 205px;
  height: 2px;
  margin-left: 20px;
}


.filter-button {
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #EEEEEE;
  border: 0;
  width: 260px;
  height: 50px;
  padding: 16px 88px;
  text-transform: uppercase;
  border-radius: 3px;
}

.filter-button:hover {
  background-color: #DFDFDF;
}

.filter-button:active {
  background-color: #D5D5D5;
  color: #a2a2a2;
}


.grid {
  margin-top: 54px;
  margin-bottom: 33px;
}

.peculiarities {
  margin-bottom: 38px;
}

.text-sorting {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-link {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 30%;
  text-transform: uppercase;
}

.sorting-link:hover {
  opacity: 60%;
}

.sorting-link:active {
  opacity: 100%;
}

.sorting-link:focus {
  opacity: 100%;
}

.templates {
  margin-bottom: 55px;
}

.templates-browser {
  opacity: 25%;
}

.templates-image {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -4px;
}

.templates-item {
  cursor: pointer;
}
.templates-item:hover {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
  transition: all 0.5s;
}
.templates-item:hover .templates-characteristic {
  opacity: 1;
  transition: all 0.2s;
}
.templates-item:hover .templates-browser {
  opacity: 1;
  transition: all 0.2s;
}

.templates-header {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 26px;
}

.templates-header:hover {
  color: #FB565A;
  cursor: pointer;
}

.templates-header:active {
  color: #000000;
  opacity: 30%;
  cursor: pointer;
}

.templates-text {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.templates-button {
  width: 200px;
  height: 50px;
  background-color: #FB565A;
  padding: 16px 72px;
  border: 0;
  border-radius: 3px;
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 15px;
}

.templates-button:hover {
  background-color: #E74246;
}

.templates-button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.templates-characteristic {
  position: relative;
  background-color: #EEEEEE;
  width: 360px;
  height: 231px;
  text-align: center;
  margin-left: -1px;
  margin-top: -250px;
  opacity: 0;
  z-index: 99;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.guide-buttons {
  margin-left: -40px;
  margin-bottom: 60px;
}

.guide-button {
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 50px;
  height: 50px;
  background-color: #EEEEEE;
  border: 0;
  border-radius: 3px;
}

.guide-button:hover {
  background-color: #DFDFDF;
}

.guide-button:active {
  background-color: #D5D5D5;
  color: #a2a2a2;
}

.guide-button:focus {
  background-color: #FFFFFF;
  border: 3px solid #D5D5D5;
}

.guide-button-next {
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #EEEEEE;
  border: 0;
  border-radius: 3px;
}

.guide-button-next:hover {
  background-color: #DFDFDF;
}

.guide-button:active {
  background-color: #D5D5D5;
}

.container {
  margin: 0 auto;
  width: 1300px;
  margin-left: 140px;
}

.templates-list {
  display: grid;
  grid-template-columns: 358px 358px;
  gap: 40px;
  margin-left: -40px;
}

.sorting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -15px;

}

.sorting-list {
  display: grid;
  grid-template-columns: 85px 85px 150px 30px 30px;
  margin-bottom: 48px;
  margin-left: 220px;
}

.guide-buttons-list {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
}

.shop {
  display: grid;
  grid-template-columns: 400px 755px;
}

label {
  margin-left: 36px;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  margin-left: -34px;
  width: 23px;
  height: 23px;
  border: 3px solid #4D4D4D;
  border-radius: 5px;
  opacity: 40%;
}

.filter-checkbox-slider:checked + label::after {
  content: "";
  position: absolute;
  margin-left: -96px;
  width: 23px;
  height: 23px;
  background-image: url("../img/shape-chek-mark.svg");
  background-repeat: no-repeat;
  background-position: -1px 2px;
  opacity: 40%;
}

.filter-checkbox-adventages:checked+label::after {
  content: "";
  position: absolute;
  margin-left: -175px;
  width: 23px;
  height: 23px;
  background-image: url("../img/shape-chek-mark.svg");
  background-repeat: no-repeat;
  background-position: -1px 2px;
  opacity: 40%;
}

.filter-checkbox-news+label::after {
  content: "";
  position: absolute;
  margin-left: -96px;
  width: 23px;
  height: 23px;
  background-image: url("../img/shape-chek-mark.svg");
  background-repeat: no-repeat;
  background-position: -1px 2px;
  opacity: 40%;
}

.filter-checkbox-galery+label::after {
  content: "";
  position: absolute;
  margin-left: -91.6px;
  width: 23px;
  height: 23px;
  background-image: url("../img/shape-chek-mark.svg");
  background-repeat: no-repeat;
  background-position: -1px 2px;
  opacity: 40%;
}

.filter-checkbox-bascket:checked+label::after {
  content: "";
  position: absolute;
  margin-left: -95px;
  width: 23px;
  height: 23px;
  background-image: url("../img/shape-chek-mark.svg");
  background-repeat: no-repeat;
  background-position: -1px 2px;
  opacity: 40%;
}


.filter-radiobutton + label::before {
  content: "";
  position: absolute;
  margin-left: -35px;
  width: 25px;
  height: 25px;
  border: 5px solid #4D4D4D;
  border-radius: 50px;
  opacity: 40%;
}

.filter-radiobutton-adaptive:checked + label::after {
  content: "";
  position: absolute;
  margin-left: -126px;
  width: 23px;
  height: 23px;
  background-image: url("../img/shape-oval.svg");
  background-repeat: no-repeat;
  background-position: 8px 8px;
  opacity: 40%;
}

.filter-radiobutton-fixed+label::after {
  content: "";
  position: absolute;
  margin-left: -154px;
  width: 23px;
  height: 23px;
  background-image: url("../img/shape-oval.svg");
  background-repeat: no-repeat;
  background-position: 8px 8px;
  opacity: 40%;
}

.filter-radiobutton-rubber+label::after {
  content: "";
  position: absolute;
  margin-left: -116px;
  width: 23px;
  height: 23px;
  background-image: url("../img/shape-oval.svg");
  background-repeat: no-repeat;
  background-position: 8px 8px;
  opacity: 40%;
}
