input {
  color: #4D4D4D;
  opacity: 40%;
}
input:hover {
  opacity: 100%;
}

.main-title {
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  background-color: #EEEEEE;
  text-align: center;
}

fieldset {
  border: 0;
}

.filter-legend {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-radiobuttons {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-checkboxes {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-button {
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #EEEEEE;
  border: 0;
  width: 260px;
  height: 50px;
  padding: 16 88;
  text-transform: uppercase;
  border-radius: 3px;
}
.filter-button:hover {
  background-color: #DFDFDF;
}
.filter-button:active {
  background-color: #D5D5D5;
  color: #000000;
}

.range {
width: 205px;
height: 2px;
}

.text-sorting {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-link {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 30%;
  text-transform: uppercase;
}
.sorting-link:hover {
  opacity: 60%;
}
.sorting-link:active {
  opacity: 100%;
}

.templates-image {
  border-radius: 3px;
}

.templates-header {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 26px;
}
.templates-header:hover {
  color: #FB565A;
  cursor: pointer;
  transition: 0.2s;
}
.templates-header:active {
  color: #000000;
  opacity: 30%;
  cursor: pointer;
}

.templates-text {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.templates-button {
  width: 200px;
  height: 50px;
  background-color: #FB565A;
  padding: 16 72;
  border: 0;
  border-radius: 3px;
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.templates-button:hover {
  background-color: #E74246;
}
.templates-button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.templates-characteristic {
  background-color: #EEEEEE;
  width: 360px;
  height: 231px;
  text-align: center;
  border-radius: 3px;
}

.guide-button {
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 50px;
  height: 50px;
  background-color: #EEEEEE;
  border: 0;
  border-radius: 3px;
}

.guide-button-next {
  width: 260px;
  height: 50px;
}
