.services-item-sites {
  background-image: url("../img/illustration-red.png");
  background-repeat: no-repeat;
}

.services-item-applications {
  background-image: url("../img/illustration-green.png");
  background-repeat: no-repeat;
}

.services-item-presentations {
  background-image: url("../img/illustrattion-yellow.png");
  background-repeat: no-repeat;
}

.services-text-main {
  font-family: Roboto-700;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 165px;
}

.services-text {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.services-button {
  font-family: Roboto-500;
  width: 160px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: white;
  border-radius: 3px;
  padding: 16px 40px;
  border: 0px;
  text-transform: uppercase;
}

.services-button-red {
  background-color: #FB565A;
}

.services-button-red:hover {
  background-color: #E74246;
}

.services-button-red:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: hsl(0, 100%, 70%);
}

.services-button-green {
  background-color: #00CA74;
}

.services-button-green:hover {
  background-color: #00BC6C;
}

.services-button-green:active {
  background-color: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: #50c878;
}

.services-button-yellow {
  background-color: #EFC849;
}

.services-button-yellow:hover {
  background-color: #EAB534;
}

.services-button-yellow:active {
  background-color: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: #ffd800;
}

.about-main-text {
  font-family: Roboto-500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-text {
  font-family: Roboto-400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 40px;
}

.about-title-text {
  font-family: Roboto-700;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.about-item {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: -40px;
  padding-left: 40px;
  color: #283136;
  margin-bottom: 20px;
  background-image: url("../img/podcherivanie.png.png");
  background-repeat: no-repeat;
  background-size: 25px 2px;
  background-position:  1px;
}

.statistics {
  background-image: url("../img/nerds-party.png");
  background-repeat: no-repeat;
  margin-top: -35px;
}

.statistic-main-text {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 240px;
  margin-bottom: 31px;
}

.statistic-text {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.statistic-numbers {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
  margin-left: -5px;

}

.logo {
  opacity: 20%;
}

.logo:hover {
  opacity: 100%;
  transition: all 0.2s;
}

.logo:active {
  opacity: 10%;
}

.services {
  margin-left: 100px;
  margin-right: 200px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin-bottom: 80px;
}

.index-columns {
  margin-left: 140px;
  margin-right: 126px;
  margin-bottom: 80px;
  padding-top: 73px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 149px;
  background-image: url("../img/rectangle-9.png");
  background-repeat: no-repeat;
  background-size: 1158px 2px;
}

.statistics-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 22px;
}

.clients {
  width: 1159px;
  margin-left: 140px;
  margin-right: 141px;
  background-image: url("../img/rectangle-9.png");
  background-repeat: no-repeat;
  background-size: 1158px 2px;
}

.clients-list {
  height: 184px;
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  background-image: url("../img/rectangle-9.png");
  background-repeat: no-repeat;
  background-size: 1158px 2px;
  background-position: 1px 175px;
}


