 .slider-title {
   font-family: Roboto-500;
   font-size: 55px;
   font-weight: 500;
   line-height: 55px;
   margin-top: 78px;
 }

 .slider-text {
   margin-top: 25px;
   font-family: Roboto-400;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
 }

 .slider-button {
   font-family: Roboto-500;
   font-weight: 500;
   font-size: 16px;
   line-height: 18px;
   color: white;
   background-color: #FB565A;
   border-radius: 3px;
   padding: 16px 54px;
   width: 240px;
   height: 50px;
   border: 0px;
   text-transform: uppercase;
   margin-top: 38px;
 }

 .slider-button:hover {
   background-color: #E74246;
 }

 .slider-button:active {
   background-color: #D7373B;
   box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
   color: hsl(0, 100%, 70%);
 }


 .slider {
   background-color: #EEEEEE;
   width: 1440px;
   height: 431px;
   margin-left: 719px;
   overflow: hidden;
   margin-top: 210px;
   margin-bottom: -150px;
   transform: translate(-50%, -50%);
 }

 .navigation-buttons {
   position: absolute;
   bottom: 16px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
 }

 .navigation-button {
   width: 18px;
   height: 18px;
   margin: 15px;
   margin-top: -90px;
   cursor: pointer;
   background-color: #ffffff;
   border-radius: 10px;
 }

 .navigation-button:hover {
   transform: scale(1.1);
 }

 input[name="radiobutton"] {
   position: absolute;
   visibility: hidden;
 }

 .slides {
   width: 400%;
   height: 100%;
   display: flex;
   padding-left: 140px;
 }

 .slide {
   width: 25%;
   padding-top: 78px;
 }

 .img {
   width: 760px;
   height: 431px;
 }

 #radiobutton-1:checked~.first-slide {
   margin-left: 0;
 }

 #radiobutton-2:checked~.first-slide {
   margin-left: -25%;
 }

 #radiobutton-3:checked~.first-slide {
   margin-left: -50%;
 }

 #radiobutton-4:checked~.first-slide {
   margin-left: -75%;
 }

 .first-slide {
   background-image: url("../img/slide-1.png");
   background-repeat: no-repeat;
   background-position: 400px;
 }

 .second-slide {
   background-image: url("../img/slide-2.png");
   background-repeat: no-repeat;
   background-position: 400px;
 }

 .third-slide {
   background-image: url("../img/slide-3.png");
   background-repeat: no-repeat;
   background-position: 400px;
 }
