@font-face {
  font-family: Roboto-400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-700;
  src: url(../fonts/Roboto-Bold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header {
  padding-top: 49px;
}

.main-navigation {
  font-size: 16px;
  color: #000000;
  line-height: 30px;
  background-color: #EEEEEE;
  font-family: "Roboto-500";
}

.main-header-logo:hover {
  opacity: 70%;
  transition: all 0.3s;
}
.main-header-logo:active {
  opacity: 30%;
}

.navigation-item {
  margin-top: 10px;
}
.navigation-item:hover {
  color: #FB565A;
}
.navigation-item:active {
  opacity: 30%;
  color: #000000;
}

.trash {
  margin-right: 20px;

}

.login-link {
  margin-top: 25px;
  margin-right: -100px;
  text-transform: uppercase;
}
.login-link:hover {
  color: #FB565A;
}
.login-link:active {
  opacity: 30%;
  color: #000000;
}


.map-title {
  font-family: Roboto-700;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.map-text {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-top: 23px;
}

.map-button {
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: white;
  background-color: #FB565A;
  border-radius: 3px;
  padding: 15px 44px;
  width: 219px;
  height: 50px;
  border: 0px ;
  margin-top: 32px;
  text-transform: uppercase;
}
.map-button:hover {
  background-color: #E74246;
}
.map-button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: hsl(0, 100%, 70%);
}

.map {
  background-image: url("../img/map\ 1.png");
  height: 416px;
}

.contacts {
  width: 319px;
  height: 308px;
  margin-left: 140px;
  padding-left: 25px;
  padding-top: 49px;
}

.link {
  display: inline-block;
  height: 81px;
  width: 81px;
  text-align: center;
  background: #E1E1E1;
  padding-top: 33px;
  border-radius: 50%;
  color: #fff;
}
.link:hover {
  background-color: #E74246;
}

.link:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: hsl(0, 100%, 70%);
}

.social-main-text {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social-text {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-header {
  width: 1160px;
  margin-left: 140px;
  margin-right: 140px;
}

.main-navigation {
  display: grid;
  grid-template-columns: 360px 685px 90px;
}

.site-navigation {
  display: grid;
  grid-template-columns: 109px 109px 109px 109px;
  text-transform: uppercase;
}

.socials-list {
  display: grid;
  grid-template-columns: 90px 90px 90px ;
}

.map {
  margin-bottom: 68px;
}

.socials {
  display: grid;
  margin-left: 140px;
  margin-right: 240px;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 68px;
}
