@font-face {
  font-family: Roboto-400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-500;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-700;
  src: url(../fonts/Roboto-Bold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.main-navigation {
  font-size: 16px;
  color: #000000;
  line-height: 30px;
  background-color: #EEEEEE;
  font-family: "Roboto-500";
}

.main-header-logo:hover {
  opacity: 70%;
  transition: all 0.3s;
  cursor: pointer;
}

.main-header-logo:active {
  opacity: 30%;
}

.navigation-item {
  margin-top: 10px;
}

.navigation-link:hover {
  color: #FB565A;
}

.navigation-link:active {
  color: #000000;
  opacity: 0.3;
}

.navigation-link-studio:focus {
  background-image: url("../img/podcherivanie.png.png");
  background-repeat: no-repeat;
  background-position: 1px 17px;
}

.navigation-link-clients:focus {
  background-image: url("../img/podcherivanie.png.png");
  background-repeat: no-repeat;
  background-position: 1px 17px;
  background-size: 76px 2px;
}

.navigation-link-shop:focus {
  background-image: url("../img/podcherivanie.png.png");
  background-repeat: no-repeat;
  background-position: 1px 17px;
  background-size: 83px 2px;
}

.navigation-link-contacts:focus {
  background-image: url("../img/podcherivanie.png.png");
  background-repeat: no-repeat;
  background-position: 1px 17px;
  background-size: 83px 2px;
}

.trash {
  margin-right: 20px;
}

.login-link {
  margin-top: 25px;
  margin-right: -100px;
  text-transform: uppercase;
}

.login-link:hover {
  color: #FB565A;
}

.login-link:active {
  opacity: 30%;
  color: #000000;
}

.login-link:focus {
  background-image: url("../img/podcherivanie.png.png");
  background-repeat: no-repeat;
  background-position: 1px 22px;
  background-size: 112px 2px;
}

.map {
  margin-bottom: 68px;
  background-image: url(../img/map\ 1.png);
  background-size: 1440px 416px;
  width: 1440px;
  height: 416px;
}

.map-title {
  font-family: Roboto-700;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.map-text {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-top: 23px;
}

.map-button {
  font-family: Roboto-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: white;
  background-color: #FB565A;
  border-radius: 3px;
  padding: 15px 44px;
  width: 219px;
  height: 50px;
  border: 0px;
  margin-top: 32px;
  text-transform: uppercase;
}

.map-button:hover {
  background-color: #E74246;
}

.map-button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: hsl(0, 100%, 70%);
}

.contacts {
  height: 340px;
  margin-left: 140px;
  padding-left: 50px;
  padding-top: 80px;
  background-image: url(../img/contacts-background.png);
  background-repeat: no-repeat;
  background-position: 1px 54px;
}


.link {
  display: inline-block;
  height: 81px;
  width: 81px;
  text-align: center;
  background: #E1E1E1;
  padding-top: 33px;
  border-radius: 50%;
  color: #fff;
}

.link:hover {
  background-color: #E74246;
}

.link:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: hsl(0, 100%, 70%);
}

.social-main-text {
  font-family: Roboto-700;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social-text {
  font-family: Roboto-400;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-navigation {
  display: grid;
  grid-template-columns: 360px 685px 90px;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 49px;
}

.site-navigation {
  display: grid;
  grid-template-columns: 109px 109px 109px 109px;
  text-transform: uppercase;
}

.socials {
  display: grid;
  margin-left: 140px;
  margin-right: 240px;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 68px;
}

.socials-list {
  display: grid;
  grid-template-columns: 90px 90px 90px;
}
